<div>
    <h1>Perfil</h1>
     <h2>ROL: {{user.role}}</h1>
    <p><b>Nombre:</b> {{user.name}} </p>
    <p><b>Email:</b> {{user.email}}</p>
    <p><b>Edad:</b> {{user.age}}</p>
    <a href="/productlist"><button>Ir a productos</button></a>
    <a href="/api/sessions/logout"><button>Salir</button></a>
</div>